.logo-head{
  width: 50%;
  
}

.head{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;
}

.or-bg{
  background-color: #E67E22;
}

.card-content{
  background-color: #F0B27A;
}

body{
  background-color: #F6DDCC;
}